body {
    background-color: #F7F7F7;
}
a {
    color: #007BBB;
}
.bg-dark {
    background-color: #2E2930;
}
.bg-light {
    background-color: #F7F7F7;
}
.bg-border {
    background-color: #DDDDDD;
}
.bg-primary {
    background-color: #5B5A60;
}
.bg-paper {
    background-color: #F8FBF8;
}
.text-primary {
    color: #5B5A60!important;
}
.text-error {
    color: #D9534F;
}
.text-muted {
    color: #818A91;
}
.text-border {
    color: #DDDDDD;
}
.btn-primary {
    color: #5B5A60;
    background-color: transparent;
    border-color: #5B5A60;
}