/* bg */
$primary: #2E2930;
$secondary: #5B5A60;
$secnodary-dark: #3B3A40;
$secondary-light: #9393A2;
$background: #F7F7F7;
$surface: #F8FBF8;
$border: #DDDDDD;
$border-dark: #CACACA;

/* text */
$text: #495057;
$link: #007BBB;
$muted: #818A91;
$error: #D9534F;