$brand: #5b5a60;
$brand-variant: #3b3a40;
$on-brand: #ffffff;

$link: #007bbb;
$link-variant: #007bbb;
$on-link: #ffffff;

$surface: #f8fbf8;
$on-surface: #495057;

$bg-dark: #2e2930;
$on-bg-dark: #495057;

$bg-light: #f7f7f7;
$on-bg-light: #495057;

$error: #d9534f;
$on-error: #ffffff;

$muted: #ADB2B7;
$muted-variant: #818A91;

$border: #dddddd;

$bg-info: #2EA9DF;  // 露草
$on-info: #FFFFFF;

$bg-warning: #FFC408; // 籐黄
$on-warning: #000000;

$bg-error: #E83015; // 猩猩緋
$on-error: #FFFFFF;
